VULN_FILE=./db/euvd.json
RETENTION_DAYS=65
# Set to True to send an email if no vulnerability in daily report
NOVULN=True
# Path to the log file (used only if --log is set in the command line)
LOG_FILE=./logs/euvd.log
# Path to the file containing the vendors list 
KEYWORDS_FILE=vendors.json
SENT_IDS_DAILY_FILE=sent_ids_daily.json
SENT_IDS_ALERT_FILE=sent_ids_alert.json
# CVSS Score threshold to send an alert
MIN_CVSS_TO_ALERT=8
RADAR_FOLDER=./web/radars
DAILY_FOLDER=./web/daily
MONTHLY_FOLDER=./web/monthly
# the url poiting to RADAR_FOLDER
# this is used to generate the radar links in the emails
RADAR_URL=https://vuln.localhost/radars
# the url poiting to DAILY_FOLDER
# this is used to generate the daily links in the emails
DAILY_URL=https://vuln.localhost/daily
MONTHLY_URL=https://vuln.localhost/monthly
# Mail configuration
MAIL_SMTP_SERVER=localhost
MAIL_SMTP_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=Vulnerability report <no-reply@localhost>
# Comma separated list of email addresses to send the report to
MAIL_TO=julien@localhost
MAIL_TLS=False
# Path to the lock file 
LOCK_FILE=/tmp/euvd.lock
